#full {
  text-align: center;
  margin: 15vh auto;
  width: 100%;
  padding-bottom: 0;
}

#full h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#full p {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
  #full {
    margin: 10vh auto; /* Adjust margin for smaller screens */
  }

  #full h2 {
    margin-top: 3rem; /* Adjust margin-top for smaller screens */
    margin-bottom: 1.5rem; /* Adjust margin-bottom for smaller screens */
  }

  #full p {
    margin-bottom: 1rem; /* Adjust margin-bottom for smaller screens */
  }
}
