h1 {
  width: 50%;
  text-align: center;
  margin: 2rem auto 2rem auto;
  border-bottom: solid 2px rgb(214, 168, 173);
}

div.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 1rem;
}

div.gallery__item {
  position: relative;
  overflow: hidden;
}

div.gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.gallery__thumb:hover img {
  border: solid 5px white;
  transform: scale(1.1);
}

/* Media Query for Mobile */
@media screen and (max-width: 767px) {
  h1 {
    width: 75%;
    text-align: center;
    margin: 2rem auto 2rem auto;
    border-bottom: solid 2px rgb(214, 168, 173);
  }

  div.gallery {
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    text-align: center;
  }

  div.gallery img {
    width: 65%;
    height: auto;
    transition: transform 0.3s;
  }

  .gallery__thumb:hover img {
    border: none;
    transform: none;
  }
}
