body {
  margin: 0;
}

#landing {
  width: 100%;
  height: calc(100vh - 14.35rem);
  overflow: hidden;
  color: white;
  margin-bottom: 2rem;
  overflow: hidden;
}

#landing img {
  width: 100%;
}

#intro {
  text-align: center;
  margin-bottom: 5rem;
}

#intro h1 {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 3px solid rgb(225, 159, 167);
}

#intro-content {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if the container is too narrow */
  gap: 2rem;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#intro-photo {
  flex: 0.5; /* Take up all available space in the flex container */
  border-radius: 5rem;
  margin-bottom: 1rem;
  height: 50vh;
  width: auto;
}

#intro-content p {
  flex: 1;
  width: 50%;
  font-size: 1.25rem;
  text-align: justify;
  margin-top: 0.5rem;
}

#certs {
  width: 65%;
  margin: 5rem auto;
  padding-bottom: 3rem;
}

#certs h1 {
  text-align: center;
  width: 100%;
  background-color: rgb(255, 247, 247);
  color: rgb(225, 159, 167);
  border-bottom: 3px solid rgb(225, 159, 167);
  border-right: none;
  border-left: none;
  margin-left: auto;
  margin-right: auto;
}

#certs p {
  font-size: 1.25rem;
  width: 90%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

#gallery-button {
  width: 65%;
  margin: 3rem auto;
  text-align: center;
}

#gallery-button h1 {
  text-align: center;
  width: 100%;
  background-color: rgb(255, 247, 247);
  color: rgb(225, 159, 167);
  border-right: none;
  border-left: none;
  margin-left: auto;
  margin-right: auto;
}

#gallery-button button {
  background-color: rgb(255, 172, 181);
  margin: 1rem auto;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#gallery-button button:hover {
  background-color: rgb(152, 127, 130);
  color: white;
}

/* Media Query for Mobile */
@media screen and (max-width: 767px) {
  #landing {
    width: 100%;
    height: 33vh;
    overflow: hidden;
    color: white;
    margin-bottom: 0rem;
    overflow: hidden;
  }

  #landing img {
    width: 100%;
  }

  section {
    margin-top: 0;
  }

  #intro-content p {
    font-size: 1.25rem;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  #certs button {
    font-size: 80%;
  }

  #certs ul li {
    font-size: 80%;
  }
}
