#soon {
  text-align: center;
  margin: 15vh auto;
  font-size: 5rem;
  color: rgb(225, 159, 167);
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
  #soon {
    font-size: 3rem; /* Adjust font-size for smaller screens */
    margin: 10vh auto; /* Adjust margin for smaller screens */
  }
}
