html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 247, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(255, 247, 247);
}

section {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.header-logo {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.navbar {
  width: 100%;
  padding-bottom: 1.5rem;
}

nav div ul li a {
  font-size: 2rem;
  color: rgb(150, 150, 150);
  margin-left: 2rem;
  margin-right: 2rem;
}

nav div ul li a.active {
  border-bottom: 2px solid rgb(251, 209, 214);
  color: rgb(251, 209, 214);
}

nav div ul li a:hover {
  border-bottom: 2px solid rgb(251, 209, 214);
  color: rgb(251, 209, 214);
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

p {
  font-size: 1.6rem;
}

footer {
  background-color: rgb(248, 248, 248);
  width: 100%;
  padding: 20px;
  bottom: 0;
  margin-bottom: 0;
  bottom: 0;
  height: 2.5rem;
}

footer #footer-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

footer #footer-copy {
  grid-column: 1;
  text-align: right;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid rgb(251, 209, 214);
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

#footer-table #footer-contact-info {
  grid-column: 2;
  font-size: 16px;
  text-align: left;
}
