html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 247, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(255, 247, 247);
}

section {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.dropdown {
  display: none;
}

header {
  background-color: rgb(255, 233, 233);
}

.header-logo {
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar {
  width: 100%;
  padding-bottom: 1.5rem;
}

nav div ul li a {
  font-size: 1.33rem;
  color: rgb(150, 150, 150);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

nav div ul li a.active {
  border-bottom: 2px solid rgb(214, 168, 173);
  color: rgb(214, 168, 173);
}

nav div ul li a:hover {
  border-bottom: 2px solid rgb(214, 168, 173);
  color: rgb(214, 168, 173);
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

ul #social {
  width: 100%;
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

#social svg {
  height: 2rem;
  width: 2rem;
}

ul #social a {
  color: rgb(150, 150, 150);
  margin-right: 0;
  margin-left: 0;
}

ul #social a:hover {
  border: none;
  fill: rgb(214, 168, 173);
}

h1 {
  font-size: 4rem;
  font-family: Yesteryear;
  color: rgb(225, 159, 167);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
  margin-top: 1.5rem;
  font-family: Yesteryear;
  color: rgb(225, 159, 167);
}

p {
  font-size: 1.6rem;
}

footer {
  position: relative;
  background-color: rgb(255, 233, 233);
  border-top: 2px solid rgb(224, 186, 190);
  width: 100%;
  padding: 20px;
  bottom: 0;
  margin-bottom: 0;
  bottom: 0;
  height: 2.5rem;
}

footer #footer-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

footer #footer-copy {
  font-size: 16px;
  grid-column: 1;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

#footer-table #footer-contact-info {
  grid-column: 2;
  font-size: 16px;
  text-align: center;
}

/* Media Query for Mobile */
@media screen and (max-width: 767px) {
  .dropdown {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .dropdown button {
    background-color: rgb(225, 159, 167);
    border: none;
    float: right;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .dropdown ul {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 233, 233);
  }

  .dropdown ul li a {
    font-size: 1.33rem;
    color: rgb(150, 150, 150);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .dropdown ul li a.active {
    border-bottom: 2px solid rgb(214, 168, 173);
    color: rgb(214, 168, 173);
  }

  .dropdown ul li:hover {
    color: rgb(214, 168, 173);
    background-color: rgb(255, 233, 233);
  }

  .dropdown ul li a:hover {
    border-bottom: 2px solid rgb(214, 168, 173);
    color: rgb(214, 168, 173);
    background-color: rgb(255, 233, 233);
  }

  header {
    display: none;
  }
}
